body {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Extrabld.ttf");
  font-weight: 800;
  font-style: normal;
}
